* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

:root {
  --bg: linear-gradient(to bottom right, rgb(173, 72, 60), rgb(229, 169, 101));
  --bg-calculator: #FFF;
  --bg-btn-clean: #EBB8BC;
  --bg-btn-number: #97C7E0;
  --bg-btn-operator: #EBBaE7;
  --bg-btn-equal: #91E7D3;
  --color-display: #0A1E23;
  --color-btn-clean: #EB3D49;
  --color-btn-number: #000;
  --color-btn-operator: #D147CC;

}

.calculator.dark {
  --bg-calculator: #071116;
  --bg-btn-clean: #986371;
  --bg-btn-number: #42697D;
  --bg-btn-operator: #895FA3;
  --bg-btn-equal: #406B43;
  --color-display: #F8FAFB;
  --color-btn-clean: #D04A53;
  --color-btn-operator: #EC98EA;
  --color-btn-number: #FFF;
}

body {
  font-family: sans-serif;
  background: var(--bg);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover {
  transform: scale(1.11);
}

.calculator {
  background-color: var(--bg-calculator);
}

.calculator #display {
  color: var(--color-display);
}

.calculator button#cleanDisplay,
.calculator button#cleanCalc {
  background-color: var(--bg-btn-clean);
  color: var(--color-btn-clean);
}

.calculator button.btn-number {
  background-color: var(--bg-btn-number);
  color: var(--color-btn-number);
}

.calculator button.btn-operator {
  background-color: var(--bg-btn-operator);
  color: var(--color-btn-operator);
}

.calculator button.btn-equal {
  background-color: var(--bg-btn-equal);
  color: var(--color-btn-number);
}